<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Hello world</title>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" media="screen">

    </head>
    <body>
        <h1>Form</h1>
        <form action="#" th:action="@{/manageEmployee}" th:object="${employee}" method="post">
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Salary: <input type="number" th:field="*{salary}" /></p>
            <button type="submit" name="action" value="add">Add Employee</button>
            <input type="reset" value="Reset" />

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Salary</th>
                    </tr>
                    <tr th:each="employee : ${employeeList}">
                        <td th:text="${employee.name}"></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{employee.name}">Name Error</td>
                        <td th:text="${employee.salary}"></td>
                        <td><a th:href="@{/manageEmployee(employee=${employee.name})}">Remove Employee</a></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" name="action" value="mean">Calculate Mean</button>
            <button type="submit" name="action" value="removeAll">Remove Employees</button>
        </form>
    </body>
</html>